## Mean Function in Python, Pandas

Python is very popular language when it comes to statistics and analysis.python 3 provides statistics module which has important function mean(),median() and mode() etc. In this tutorial we will learn about the mean() function it returns mean of the dataset.

DataFrame.mode(axis=0, numeric_only=False, dropna=True)
axis 	 0 – get mode of each column
 1 -get mode of each row
numeric_only 	 if True, only apply to numeric columns
dropna 	 Don’t consider the counts of NaN

### Mean Function in Python

In [4]:
# calculate arithmetic mean
import statistics

# list of positive integer numbers
data1 = [1, 3, 4, 5, 7, 9, 2]
  
x = statistics.mean(data1)
  
# Printing the mean
print("Mean is :", x)

Mean is : 4.428571428571429

### Mean of a dataframe in pandas python

In [7]:
#Create a dataframe

import pandas as pd
import numpy as np

raw_data = {'first_name': ['Sam','Ziva','Kia','Robin','Kim','Ram','Zen','John','Ariel','Ron'], 
         'degree': ['PhD','MBA','PhD','MS','MBA','PhD','PhD','MS','PhD','PhD'],
         'age': [25, 29, 19, 21, 33, 38, 24, 26, 32, 29],
         'score': [250, 290, 190, 210, 330, 380, 240, 260, 320, 290]}
df = pd.DataFrame(raw_data)
df

  first_name degree  age  score
0        Sam    PhD   25    250
1       Ziva    MBA   29    290
2        Kia    PhD   19    190
3      Robin     MS   21    210
4        Kim    MBA   33    330
5        Ram    PhD   38    380
6        Zen    PhD   24    240
7       John     MS   26    260
8      Ariel    PhD   32    320
9        Ron    PhD   29    290

In [8]:
# Mean of the dataframe
df.mean()

age       27.6
score    276.0
dtype: float64

### Column mean of the dataframe

axis=0 argument calculates the column wise mean of the dataframe so the result will be

In [9]:
# column mean of the dataframe
df.mean(axis=0)

age       27.6
score    276.0
dtype: float64

### Row Mean of the dataframe

axis=1 argument calculates the row wise mean of the dataframe so the result will be

In [10]:
# Row mean of the dataframe
df.mean(axis=1)

0    137.5
1    159.5
2    104.5
3    115.5
4    181.5
5    209.0
6    132.0
7    143.0
8    176.0
9    159.5
dtype: float64