## Creating Pandas Dataframe in Python

A Dataframe is a two dimensional data structure, containing labeled axes(rows and columns)

### pandas.DataFrame

#### class pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=None)

Two-dimensional, size-mutable, potentially heterogeneous tabular data

### Parameters<br>
#### datandarray (structured or homogeneous), Iterable, dict, or DataFrame<br>
Dict can contain Series, arrays, constants, dataclass or list-like objects. If data is a dict, column order follows insertion-order.<br>

#### indexIndex or array-like<br>
Index to use for resulting frame. Will default to RangeIndex if no indexing information part of input data and no index provided.<br>

#### columnsIndex or array-like<br>
Column labels to use for resulting frame when data does not have them, defaulting to RangeIndex(0, 1, 2, …, n). If data contains column labels, will perform column selection instead.<br>

#### dtypedtype, default None<br>
Data type to force. Only a single dtype is allowed. If None, infer.<br>

#### copybool or None, default None<br>
Copy data from inputs. For dict data, the default of None behaves like copy=True. For DataFrame or 2d ndarray input, the default of None behaves like copy=False.<br>

### Different Methods to Create Python DataFrame

Let’s explore various ways to create DataFrame using inputs like:

1. Dictionary
2. Lists
3. Series
4. Numpy arrays
5. Empty DataFrame

### 1. Create a DataFrame from Dictionary

In [1]:
import pandas as pd 

#intialize dict containing lists of data
data = {'name':['zuben', 'Ravi', 'Ashish', 'John'],
         'weight':[70, 85, 55, 90]
 }

#create DataFrame
df = pd.DataFrame(data) 

#print the output
print(df)

     name  weight
0   zuben      70
1    Ravi      85
2  Ashish      55
3    John      90

### Create a DataFrame from Lists

In [2]:
import pandas as pd
data = [1,2,3,4,5]

#column name can be passed in columns parameter
df = pd.DataFrame(data, columns=["count"])
df

   count
0      1
1      2
2      3
3      4
4      5

### Create a DataFrame from Pandas Series
Let’s create DataFrame from dict of series. The resultant indices are the union of all the series of passed indexed.

In [4]:
import pandas as pd

data = {'a' : pd.Series([8, 9, 10,11]),
    'b' : pd.Series([11, 12, 13, 14])
 }

df = pd.DataFrame(data)
df

    a   b
0   8  11
1   9  12
2  10  13
3  11  14

### Create a DataFrame from ndarrays 
Python Numpy array can also be used to create a Pandas DataFrame

In [5]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.array([[1, 2], [3, 4], [5, 6]]),
                    columns=['a', 'b'])
df

   a  b
0  1  2
1  3  4
2  5  6

### Creating an empty dataframe
An Empty Pandas Dataframe in python without any rows and columns can be created just by calling a dataframe constructor.

In [7]:
import pandas as pd

#calling DataFrame constructor
df = pd.DataFrame() 
print(df)

Empty DataFrame
Columns: []
Index: []