## Median() function in python statistics

The python median function allows you to calculate the median of the dataset.<br>
The biggest advantage of median() function is that it does not required the dataset to be sorted.<br>
This tutorial will discuss how to use the statistics.median() method. We will also walk through an example of statistics.median() in action and will break down, line-by-line, how the method works

### Statistics Median

In the statistics the median() is the middle value in the sorted list of numbers.<br>
Median has a very big advantage over Mean, which is the median value is not skewed so much by extremely large or small values.<br>
for odd set of elements in the dataset the median value is the middle one.<br>
e.g. for a dataset [9, 3, 6, 1, 4] the median is 4.<br><br>
for even set of elements in the dataset the median value is <br>
dataset of even numbers =  [1,2,3,4,5,6,7,8,9] <br>
median = (4 + 5)/2 = 4.5

### Python Median() example
Lets say we are building the program to calculate the age of the students in the calss and we want to find the median age of the class.<br>
We will use the below code for our example.

Syntax : median( [data-set] )

Parameters :
[data-set] : List or tuple or an iterable with a set of numeric values

Returns : Return the median (middle value) of the iterable containing the data

Exceptions : StatisticsError is raised when iterable passed is empty or when list is null.

In [1]:
import statistics

student_ages = [9, 10, 9, 10, 9, 9, 10, 11, 11, 10, 9, 9]
median_age = statistics.median(student_ages)
print(median_age)

9.5

### Median of a dataframe in pandas python

In [2]:
#Create a dataframe

import pandas as pd
import numpy as np

raw_data = {'first_name': ['Sam','Ziva','Kia','Robin','Kim','Ram','Zen','John','Ariel','Ron'], 
         'degree': ['PhD','MBA','PhD','MS','MBA','PhD','PhD','MS','PhD','PhD'],
         'age': [25, 29, 19, 21, 33, 38, 24, 26, 32, 29],
         'score': [250, 290, 190, 210, 330, 380, 240, 260, 320, 290]}
df = pd.DataFrame(raw_data)
df

  first_name degree  age  score
0        Sam    PhD   25    250
1       Ziva    MBA   29    290
2        Kia    PhD   19    190
3      Robin     MS   21    210
4        Kim    MBA   33    330
5        Ram    PhD   38    380
6        Zen    PhD   24    240
7       John     MS   26    260
8      Ariel    PhD   32    320
9        Ron    PhD   29    290

In [8]:
# Median of the dataframe
df.median()

age       27.5
score    275.0
dtype: float64

### Column median of the dataframe

axis=0 argument calculates the column wise median of the dataframe so the result will be

In [7]:
# column median of the dataframe
df.median(axis=0)

age       27.5
score    275.0
dtype: float64

### Row Median of the dataframe

axis=1 argument calculates the row wise mean of the dataframe so the result will be

In [6]:
# Row median of the dataframe
df.median(axis=1)

0    137.5
1    159.5
2    104.5
3    115.5
4    181.5
5    209.0
6    132.0
7    143.0
8    176.0
9    159.5
dtype: float64

### Conclusion
You can use the statistics.median() method to calculate the median value of a data set. Using examples, this tutorial discussed how to use the statistics.median() method in Python to calculate the middle value of a list