### Pandas Merging, Combining and Contenating

In this tutorial we will learn when and how to combine data in pandas dataframe with
1. merge() combining data on common columns
2. join() joining data on key columns
3. concat() combining dataframe across rows

### 1. Pandas merge() - combining data on common columns
merge is the most flexible operations to combine the data, it is used to combine data objects based on one or more key columns.

##### Syntax:

pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None,<br>
left_index=False, right_index=False, sort=True)

Here, we have used the following parameters −

<b>left</b> − A DataFrame object.

<b>right</b> − Another DataFrame object.

<b>on</b> − Columns (names) to join on. Must be found in both the left and right DataFrame objects.

<b>left_on</b> − Columns from the left DataFrame to use as keys. Can either be column names or arrays with length equal to the length of the DataFrame.

<b>right_on</b>− Columns from the right DataFrame to use as keys. Can either be column names or arrays with length equal to the length of the DataFrame.

<b>left_index</b>− If True, use the index (row labels) from the left DataFrame as its join key(s). In case of a DataFrame with a MultiIndex (hierarchical), the number of levels must match the number of join keys from the right DataFrame.

<b>right_index</b> − Same usage as left_index for the right DataFrame.

<b>how</b> − One of 'left', 'right', 'outer', 'inner'. Defaults to inner. Each method has been described below.

<b>sort</b> − Sort the result DataFrame by the join keys in lexicographical order. Defaults to True, setting to False will improve the performance substantially in many cases.

Let us now create two different DataFrames and perform the merging operations on it.

In [25]:
import pandas as pd 

#intialize dict containing lists of data
left = {'id':[1,2,3,4],
        'name':['zuben', 'Ravi', 'Ashish', 'John'],
         'weight':[70, 85, 55, 90]
 }
right = {'id':[1,2,3,4],
        'name':['zuben', 'vikas', 'Ashish', 'peter'],
         'weight':[70, 30, 55, 60]
 }

#create DataFrame
left = pd.DataFrame(left)
right = pd.DataFrame(right)

#print the output
print(left)
print("\n")
print(right)

   id    name  weight
0   1   zuben      70
1   2    Ravi      85
2   3  Ashish      55
3   4    John      90


   id    name  weight
0   1   zuben      70
1   2   vikas      30
2   3  Ashish      55
3   4   peter      60

#### How to merge()
Before getting into the details of how to use merge(), you should first understand the various forms of joins:

1. inner
2. outer
3. left
4. right

In [26]:
##### Inner Join
inner_merged = pd.merge(left, right, on='name')
inner_merged

   id_x    name  weight_x  id_y  weight_y
0     1   zuben        70     1        70
1     3  Ashish        55     3        55

This can result in “duplicate” column names, which may or may not have different values.

“Duplicate” is in quotes because the column names will not be an exact match. By default they are appended with _x and _y.

In [27]:
# Outer Join
outer_merged = pd.merge(left, right, on='name',how='outer')
outer_merged

   id_x    name  weight_x  id_y  weight_y
0   1.0   zuben      70.0   1.0      70.0
1   2.0    Ravi      85.0   NaN       NaN
2   3.0  Ashish      55.0   3.0      55.0
3   4.0    John      90.0   NaN       NaN
4   NaN   vikas       NaN   2.0      30.0
5   NaN   peter       NaN   4.0      60.0

no rows are lost in an outer join, even when they don’t have a match in the other DataFrame.

In [17]:
# Left Join
left_merged = pd.merge(left, right, on='name',how='left')
left_merged

   id_x    name  weight_x  id_y  weight_y
0     1   zuben        70   1.0      70.0
1     2    Ravi        85   NaN       NaN
2     3  Ashish        55   3.0      55.0
3     4    John        90   NaN       NaN

Using a left outer join will leave your new merged DataFrame with all rows from the left DataFrame, while discarding rows from the right DataFrame that don’t have a match in the key column of the left DataFrame.

In [28]:
# right
right_merged = pd.merge(left, right, on='name',how='right')
right_merged

   id_x    name  weight_x  id_y  weight_y
0   1.0   zuben      70.0     1        70
1   NaN   vikas       NaN     2        30
2   3.0  Ashish      55.0     3        55
3   NaN   peter       NaN     4        60

Using a right outer join will leave your new merged DataFrame with all rows from the right DataFrame, while discarding rows from the left DataFrame that don’t have a match in the key column of the right DataFrame

### Pandas .join() - joining data on key columns

join() uses merge(), but it provides a more efficient way to join DataFrames than a fully specified merge() call.

In [29]:
left.join(right, lsuffix="_left", rsuffix="_right")

   id_left name_left  weight_left  id_right name_right  weight_right
0        1     zuben           70         1      zuben            70
1        2      Ravi           85         2      vikas            30
2        3    Ashish           55         3     Ashish            55
3        4      John           90         4      peter            60

Because .join() works on indices, if we want to recreate merge() from before, then we must set indices on the join columns we specify. In this example, you used .set_index() to set your indices to the key columns within the join.

In [33]:
left.join(right.set_index("name"), lsuffix="_x",
    rsuffix="_y",
    on="name")

   id_x    name  weight_x  id_y  weight_y
0     1   zuben        70   1.0      70.0
1     2    Ravi        85   NaN       NaN
2     3  Ashish        55   3.0      55.0
3     4    John        90   NaN       NaN

With this, the connection between merge() and .join() should be more clear.

## Pandas Concat() - Combining Data Across Rows or Columns
With concatenation, your datasets are just stitched together alond on axis - either the row axis or the column axis.

concatenated = pandas.concat([df1, df2])

In [36]:
concatenated = pd.concat([left, right])
concatenated

   id    name  weight
0   1   zuben      70
1   2    Ravi      85
2   3  Ashish      55
3   4    John      90
0   1   zuben      70
1   2   vikas      30
2   3  Ashish      55
3   4   peter      60

In [37]:
# concatenation along columns
concatenated = pd.concat([left, right],axis=1)
concatenated

   id    name  weight  id    name  weight
0   1   zuben      70   1   zuben      70
1   2    Ravi      85   2   vikas      30
2   3  Ashish      55   3  Ashish      55
3   4    John      90   4   peter      60

## Add to a DataFrame With append()

This is a shortcut to concat() that provides a simpler, more restrictive interface to concatenation. You can use .append() on both Series and DataFrame objects, and both work the same way.

concatenated = df1.append(df2)

## Conclusion

we have now learned the three most important techniques for combining data in Pandas:

1. merge() for combining data on common columns or indices
2. join() for combining data on a key column or an index
3. concat() for combining DataFrames across rows or columns